<li class="active">@Html.ActionLink("首頁", "Index", "Home")</li>
<li class="dropdown">
    <a href="#">食譜管理</a>
    <ul class="dropdown__menu">
        <li>@Html.ActionLink("新增食譜", "AddRecipe", "Recipes", null, new { @class = "fa fa-pencil pencil" })</li>
        <li>@Html.ActionLink("我的食譜", "MyList", "Recipe", null, new { @class = "fa fa-list list" })</li>
        <li>@Html.ActionLink("收藏的食譜", "MyFavoredList", "Recipe", null, new { @class = "fa fa-heart list" })</li>
    </ul>
</li>

